include celiagg/*.cpp
include celiagg/*.hxx
include celiagg/*.h
include celiagg/*.pxd
include celiagg/*.pxi
include celiagg/*.pyx
include celiagg/data/*
include pyproject.toml
include setup.py
include LICENSE
include README.rst
graft agg-svn/agg-2.4/include
graft agg-svn/agg-2.4/font_freetype
graft agg-svn/agg-2.4/font_win32_tt
